<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="0.03" >-->
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
        $(document).ready(function(){
           // SetTimeout(function() {
           //     $("#imagem").attr("src", "http://localhost:5000/render?" + Math.random());
           //     console.log("update");
           // }, 1000);

            $("#imagem").bind("load", function() {
              $("#imagem").attr("src", "http://localhost:5000/render?" + Math.random());
            }).each(function() {
              if(this.complete) $(this).load();
            });
        });
    </script>
</head>
<body>
<img id="imagem" src="http://localhost:5000/render">
</body>
</html>
